<div class="header">
  <img [src]="getAsset('/logo.png')" alt="Logo" class="logo" />
  <h1>Movie Catalog</h1>
</div>



<div class="movie-search">
  <mat-form-field appearance="fill" class="search-field">
    <mat-label>Пошук фільмів</mat-label>
    <input matInput [(ngModel)]="query" />
  </mat-form-field>
  <button mat-raised-button class="search-btn" (click)="onSearch()">Пошук</button>

  <div *ngFor="let movie of movies" class="movie-card">
    <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}" class="movie-image" />
    <div class="movie-info">
      <h3>{{ movie.title }}</h3>
      <p>{{ movie.overview | slice:0:150 }}...</p>
      <a [routerLink]="['/movie', movie.id]">Детальніше</a>
    </div>
  </div>    
</div>

<div class="movie-slider">
  <div class="slider-container" #slider>
      <div *ngFor="let movie of visibleMovies" class="slider-content">
          <div class="movie-card">
              <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}" class="movie-image" />
              <div class="movie-info">
                  <h3>{{ movie.title }}</h3>
              </div>
          </div>
      </div>
  </div>

  <div class="dots">
      <span *ngFor="let dot of visibleMovies; let i = index" class="dot" [class.active]="currentSlide === i" (click)="moveToSlide(i)"></span>
  </div>
</div>

<footer>
  <div class="footer-container">
    <div class="footer-contact">
      <h3>Контакти</h3>
      <p>Телефон: +1 800 123 456</p>
      <p>Email: Movie Catalog&#64;gmail.com</p>
    </div>
    <div class="footer-social">
      <h3>Слідкуйте за нами</h3>
      <a href="https://www.instagram.com/" target="_blank">
        <img [src]="getAsset('/logo.inst.png')" alt="Instagram" class="social-icon">
      </a>
      <a href="https://www.facebook.com/" target="_blank">
        <img [src]="getAsset('/facebook.png')" alt="Facebook" class="social-icon">
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 Movie Catalog. Усі права захищені.</p>
  </div>
</footer>
